**/.settings
**/target
**/.classpath
**/.project
**/*.project
**/*.class
**/.idea
**/out
**/overlays
**/.metadata
**/bin
**/.tern-project
/.settings
/target
/.classpath
/.project
/.idea
/out
/overlays
/.metadata
.classpath
.project
/.tern-project
/.directory
*.project
*.class